.buttonContainer {
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px; 
}

.loginButton,
.buttonProducts {
  background-color: #e1c9e1; 
  color: #411c42;
  border: none;
  border-radius: 0.2rem; 
  padding: 10px 20px; 
  margin-left: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-family: "Joti One", cursive;
}

.loginButton:hover,
.buttonProducts:hover {
  background-color: #f8dbdb; 
}


.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-image: url("../../assets/man-5612736_1280.jpg");
  background-size: cover;
  background-position: center;
  background-color: #e1c9e1;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
}

.searchButton {
  position: absolute;
  bottom: 200px; 
  background-image: url("../../assets/istockphoto-1479720563-1024x1024.jpg");
  background-size: cover;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  left: 390px;
}

.banner h2 {
  color: rgb(255, 251, 251);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 65vh;
}

.searchInput {
  width: 60vw;
  height: 6vh;
  padding-left: 2vw;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid #180216; 
  background-color: rgba(0, 0, 0, 0);
  margin-top: -10vh;
}

.searchIcon {
  margin-top: -90px;
  color: #180216;
  margin-left: -70px;
}

.bannerContainer {
  width: 60vw;
  margin: 1vw auto;
  color: black;
}

.banner {
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h2 {
  color: rgb(13, 0, 11);
  font-family: "Kavoon", cursive;
  font-size: 1.5rem;
}

.bannerBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -70;
}

.categoryButton {
  font-family: "Joti One", cursive;
  background-color: #e1c9e1;
  color: #411c42;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.categoryButton:hover {
  background-color: #eeb0b0;
}

.categoryButtonContainer {
  margin-top: 20px;
}

.containerImg {
  background-image: "";
}
