.bienvenidaC , .message {
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
  margin-top: 60px;
  color: var(--MoradoLetra);

}

.message{
  font-size: 25px;
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:350px;
}
