.proteinPage4 {
    font-family: "Inria Sans", sans-serif;
    background-color: #411c42;
    color: #e1c9e1;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .imageContainerMonohi {
    margin-right: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .productImage4 {
    width: 100px;
    height: auto;
    margin-top: 100px;
    transition: transform 0.3s ease;
    max-width: 100%;
    margin-left: -900px;
  }
  
  .productImage4:hover {
    transform: scale(1.1);
  }
  
  .descriptionContainer4 {
    position: relative;
  }
  
  .descriptionPrice4 {
    position: absolute;
    top: -370px;
    right: 46%; 
    transform: translate(50%, -50%); 
    font-weight: bold;
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
    margin-right: -60px;
    
  }
  
  .description4 {
    position: absolute;
    top: -250px;
    margin-left: 240px;
    transform: translate(50%, -50%); 
    font-size: 30px;
    font-family: 'Josefin Slab', serif;
  
  }
  
  .buttonContainer4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: -20px;
  }
  
  .buttonCreatina4 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .buttonProtein4:hover {
    transform: scale(1.1);
  }
  
  .mensaje4 {
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
    background-color: #bff3b6;
    color: #411c42;
  }
  
 