.proteinPage3 {
    font-family: "Inria Sans", sans-serif;
    background-color: #411c42;
    color: #e1c9e1;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .imageContainer3 {
    margin-right: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .productImage3 {
    width: 500px;
    height: auto;
    margin-top: 100px;
    transition: transform 0.3s ease;
    max-width: 100%;
    margin-left: -900px;
  }
  
  .productImage3:hover {
    transform: scale(1.1);
  }
  
  .descriptionContainer3 {
    position: relative;
  }
  
  .descriptionPrice3 {
    position: absolute;
    top: -370px;
    right: 46%; 
    transform: translate(50%, -50%); 
    font-weight: bold;
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
    
  }
  
  .description3 {
    position: absolute;
    top: -250px;
    margin-left: 240px;
    transform: translate(50%, -50%); 
    font-size: 30px;
    font-family: 'Josefin Slab', serif;
  
  }
  
  .buttonContainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    margin-top: -20px;
  
  }
  
  .buttonProtein3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .buttonProtein3:hover {
    transform: scale(1.1);
  }
  
  .mensaje {
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
    background-color: #bff3b6;
    color: #411c42;
  }
  
  .valoracionesContainer {
    margin-bottom: 70px;
    font-family: "Inria Sans", sans-serif;
    color: #411c42;
    margin-left: 100px;
  }
  
  .valoracionesContainer h3 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
  }
  
  .valoracionesContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
  .valoracionesContainer li {
    margin-bottom: 10px;
    margin-right: 100px;
  }
  
  .valoracionesContainer input[type="text"],
  .valoracionesContainer input[type="number"],
  .valoracionesContainer button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 0.2rem;
    background-color: #e1c9e1;
    font-size: 20px;
  }
  .buttonEnviar {
    transition: transform 0.3s ease-in-out;
  }
  
  .buttonEnviar:hover {
    transform: scale(1.1);
    color: #e06ce4;
  }
  