.proteinPage {
  font-family: "Josefin Slab", serif;
  background-color: #411c42;
  color: #e1c9e1;
  text-align: center;
}

.productsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
}

.productPtroteinImg {
  width: 400px;
}

.productItem img:hover {
  transform: scale(1.1);
}

.message {
  font-family: "Inria Sans", sans-serif;
  color: #411c42;
  font-size: 19px;
  margin-top: 25px;
}

.productDescription {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Josefin Slab", serif;
}



