.menu {
  background-color: rgb(10, 3, 9);
  padding: 10px 20px; /* Ajusta el relleno de la barra de menú */
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-btn {
  background-color: #e1c9e1;
  color: #411c42;
  border: none;
  border-radius: 0.2rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Joti One", cursive;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
}

.dropdown-content a {
  color: #e1c9;
  padding: 20px 50px;
  text-decoration: none;
  display: block;
  font-family: "Joti One", cursive;
}

.dropdown-content a:hover {
  background-color: #411c42;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  width: 200px; /* Ajusta el tamaño del logo según lo necesites */
  height: auto; /* Esto mantiene la proporción original */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modalContent {
  background-color: #f8dbdb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 500px;
  height: 70%;
  max-height: 80%;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
  color: #411c42;
  font-weight: bold;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: "Joti One", cursive;
}

.loginTitle {
  font-family: "Joti One", cursive;
  margin-bottom: 20px;
  text-align: center;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e1c9e1;
  width: 95%;
}

button[type="submit"] {
  font-family: "Joti One", cursive;
  background-color: #e1c9e1;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  width: 150px;
  padding: 8px;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #eeb0b0;
}

.registerButton {
  margin-top: 90px;
  align-self: center;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.product img {
  width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.product p {
  font-size: 20px;
  color: #333; /* Color del texto */
  font-family: "Joti One", cursive;
}

.proteinPage {
  font-family: "Joti One", cursive;
  color: #411c42;
  padding: 20px;
}


.buttonProtein {
  margin: 15px;
  padding: 1px 15px; 
  font-size: 16px;
  
  
}

.protein1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90vh; 
  margin-right: 400px;
  margin-top: 200px; 
}

.product0 {
  margin: 10px;
  text-align: center;
  display: flex; /* Utiliza flexbox para alinear los productos en horizontal */
  flex-wrap: wrap; /* Permite que los productos se envuelvan si no caben en una sola línea */
  justify-content: center; /* Centra los productos horizontalmente */
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  width: 100%; /* Ajusta el tamaño de la imagen */
  height: auto;
}
